{% load static %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- bootstrap4-css ---->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- less -->
    <link rel="stylesheet/less" href="{% static 'css/style.less' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
    
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!--script type="text/javascript" src="{% static 'js/my_js.js' %}"></script-->
    {% block script %}

    {% endblock script %}
    
    <title>polls</title>
</head>

<body>
    
    <div class='page'>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="{% url 'polls:poll_index' %}">Какое то лого</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'polls:polls' %}" >Опросы <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Инструкция</a>
                  </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>

                

        </header>
        
        <main class='container'>
            <div class='row'>
                <div class='col-2 left_menu'>
                    
                    {% if user.is_authenticated %}
                    
                    <div>
                        Привет, {{ user }}.
                        <a href="{% url 'logout' %}" class="btn btn-link">Выход</a>
                    </div>
                    <a href="#"  class="btn btn-outline-primary">Создать опрос</a>
                    <div class="dropdown-divider"></div>
                    <div class="">Ваши опросы:</div>
                    {% else %}
                    <p>Вход</p>

                    <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                    <div>
                      {{ login_form.username }}
                    </div>
                    <div>
                      {{ login_form.password }}
                    </div>
                    
                    <div>
                      <input type="submit" value="login" class="btn btn-outline-primary"/>
                      <a href="{% url 'password_reset' %}"  class="btn btn-link">Lost password?</a>
                    </div>
                    </form>
                    
                    {# Assumes you setup the password_reset view in your URLconf #}
                    
                    
                    <a href="{% url 'users:register' %}" class="btn btn-outline-success">Регистрация</a>

                    {% endif %}
                    
                    <div>
                      <a class="btn" href="{% url 'polls:clear_session' %}">
                              clear session
                      </a>
                    </div>
                      <div>finished polls: {{ finished_polls }}</div>
        
                      <div>num visits: {{ num_visits }}</div>
                      
                    </div>
                <div class='col-10'>    
                {% block content %}{% endblock content %}
                </div>
            </div>
        </main>
        
        <footer>Подвал сайта</footer>
    </div>
    
    <!-- bootstrap4-js ---->
    <!--script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script-->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>

